@font-face {
  font-family: 'Hatton';
  src: url('Hatton-Semibold.woff2') format('woff2'),
      url('Hatton-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

  body{font-family:'Hatton-Semibold'}
  p{font-family:'Hatton-Semibold'}


.yes{
    top: 20px;
    width: 800px;
    position:absolute;
    right:0px;
  
}
.text{
    position: absolute;
    top: 0;
    font-size: 600px;
    line-height: 0.5;
   
}
   
.body {
    margin: 0;
    padding: 0;
  }

